input {
  border: 1px solid #666;
  padding: 6px;
  width: 100%;
}

h1 {
  margin: 0px;
  font-family: monospace;
}

h2 {
  margin: 0px;
  font-family: monospace;
}

form {
  margin: 0px;
}

button {
  background-color: #00005a;
  color: white;
  border: #00005a solid 1px;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
