input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  width: 100%;
}

h1 {
  margin: 0px;
  font-family: monospace;
}

h2 {
  margin: 0px;
  font-family: monospace;
}

form {
  margin: 0px;
}

button {
  margin: 0px;
  padding: 6px;
  width: 100%;
  background-color: #3faf11;
  border: 1px solid black !important;
  border-radius: 6px;
  border: 0px;
  color: white;
  font-weight: 700;
}

.login-container {
  width: 300px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.login-header {
  text-align: center;
}

.login-row {
  margin: 6px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-row {
  margin: 6px 0px;
}

.full-width {
  width: 100%;
}
